$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-bag: "\e900";
$icon-burger: "\e901";
$icon-check: "\e902";
$icon-close: "\e903";
$icon-facebook: "\e904";
$icon-filter: "\e905";
$icon-grid: "\e906";
$icon-grid-row: "\e907";
$icon-heart: "\e908";
$icon-heart-xl: "\e909";
$icon-heart-xl-on: "\e90a";
$icon-inst: "\e90b";
$icon-minus: "\e90c";
$icon-person: "\e90d";
$icon-plus: "\e90e";
$icon-search: "\e90f";
$icon-sort: "\e910";
$icon-triangle-down: "\e911";
$icon-triangle-left: "\e912";
$icon-triangle-right: "\e913";
$icon-triangle-up: "\e914";
$icon-vk: "\e915";
$icon-youtube: "\e916";

